@page "/"

<PageTitle>Index</PageTitle>

<button class="btn btn-success mt-3 mb-3" @onclick="Run">Run</button>
<br />
<div class="row">
    <div class="col-md-7">
        <div id="container" style="height:300px;border:1px solid grey"></div>
    </div>
    <div class="col-md-5">
        <textarea id="console" @bind="@Output" class="form-control" rows="10" cols="120"></textarea>
    </div>
</div>